<form action="/categorys" method="POST">
  <input type="text" placeholder="預設類別" name="category" required>
  <input type="text" placeholder="fa-bars" name="icon" requiredrequired>
  <button type='submit'>create</button>
  <a href="/" class="btn btn-primary">back</a>
</form>