<div class="container">
  <form action="/records" method="POST" class='row newForm'>
    <h1>支出新增頁面</h1>
    <div class="newRecord">
      <label for='topic' class='new-label col-2'>支出明細:</label>
      <input type="text" class='new-input col-10' placeholder="topic" name="topic" required>
    </div>
    <div class="newRecord">
      <label for='date' class='new-label col-2'>支出日期:</label>
      <input type="date" class='new-input col-10' placeholder="date" name="date" required>
    </div>
    <div class="newRecord">
      <label for='category' class='new-label col-2'>支出類別:</label>
      <select class="custom-select new-input col-10" id="category" name="category" required>
        <option disabled selected>類別</option>
        {{#each categorysList}}
        <option value="{{this.category}}|{{this.icon}}" selected>{{this.category}}</option>
        {{/each}}
      </select>
    </div>
    <div class="newRecord">
      <label for='price' class='new-label col-2'>支出金額: </label>
      <input type="number" class='new-input col-10' placeholder="price" name="price" required>
    </div>
    <div class="newRecord">
      <label for='merchant' class='new-label col-2'>支出店家:</label>
      <input type="text" class='new-input col-10' placeholder="merchant" name="merchant" required>
    </div>
    <div class="newRecord">
      <button type='submit' class='btn btn-success'>create</button>
      <a href="/" class="btn btn-primary">back</a>
    </div>
  </form>

</div>